body {
  background-color: #6f897a;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #76937f;
  padding: 30px;

  box-shadow: 10px 5px 5px rgba(0, 0 0, 0.4);
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #c2c1a5;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
